.community {
    margin-top: 85px;
}

.show-more-text {
    font-size: 0.8rem;
    color: rgb(11, 127, 243)
}

.show-more-text:hover {
    cursor: pointer;
}

.friend-list-container {
    height: 625px;
    max-height: 680px;
    /* Chiều cao cố định của div, bạn có thể điều chỉnh giá trị tùy ý */
    overflow: auto;
    /* Khi nội dung dài hơn chiều cao của div, thanh cuộn sẽ xuất hiện */
}

.friend-list-container-2 {
    max-height: 500px;
    /* Chiều cao cố định của div, bạn có thể điều chỉnh giá trị tùy ý */
    overflow: auto;
    /* Khi nội dung dài hơn chiều cao của div, thanh cuộn sẽ xuất hiện */
}

.search-bar {
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.friend-list {
    background-color: #161616;
    height: 730px;
}

.friend-list-top {
    background-color: #161616;
    height: 700px;
}

.friend-list-bottom {
    padding-top: 5px;
    background-color: #161616;
    height: 30px;
}

.friend_name {
    flex: 1;
    display: flex;
    align-items: center;
}

.friend-list-mapper {
    list-style-type: none;
    /* Loại bỏ dấu chấm (dot) của danh sách */
    margin: 0;
    /* Loại bỏ margin */
    padding-top: 0px;

    padding-left: 20px;

    padding-right: 20px;
    /* Loại bỏ padding */
}

.chat-image {
    cursor: pointer;
}

.popup-container-4 {
    padding-top: 100px;
    position: fixed;
    top: -30px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.551);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content-4 {
    width: 1000px;
    height: 650px;
    background-color: #252323;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.204);
}

.popup-container-3 {
    left: 378px;
    top: 565px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
}

.popup-content-3 {
    position: relative;
    width: 200px;
    height: 195px;
    background-color: #1f1d1d;
    padding: 5px 8px 6px 10px;
    border-radius: 5px;
}

.popup-text-3 {
    border: 1px solid rgb(32, 27, 27);
    background-color: #413d3d;
    border-radius: 5px;
    font-size: 0.8rem;
    color: rgb(223, 6, 6);
    padding: 3px 6px 3px 6px;
    margin-left: 9.65rem;
}

.popup-text-3-1 {
    border: 1px solid rgb(32, 27, 27);
    background-color: #413d3d;
    border-radius: 5px;
    font-size: 0.8rem;
    color: rgb(122, 118, 118);
    padding: 3px 5px 3px 5px;
    margin-left: -3.4rem;
}

.popup-text-3:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 94);
}

.popup-text-3-1:hover {
    cursor: pointer;
    background-color: rgb(77, 77, 94);
}


.popup-container-2 {
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.551);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-container {
    padding-top: 100px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.551);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.popup-content {
    width: 1000px;
    height: 650px;
    background-color: #252323;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.204);
}

.add-friend-button {
    margin-left: 5px;
    background-color: #cec3c3cb;
    border: none;
    border-radius: 15px;
    margin-left: 20px;
    padding: 3px 6px 3px 6px;
}

.accept-button {
    margin-left: 5px;
    background-color: #0dc53ba2;
    border: none;
    border-radius: 15px;
    margin-left: 60px;
    padding: 2px 6px 2px 6px;
}

.reject-button {
    background-color: #fa5f5fcb;
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    padding: 2px 9px 2px 9px;
}

.server-list {
    height: 640px;
}

.name-card {
    height: 72px;
    background-color: #242323;
}

.name-card:hover {
    background-color: #242323;
}

.chat-friend {
    background-color: #201f1f;
    padding-top: 8px;
    text-align: center;
    height: 40px;
}

.chat-list {
    height: 600px;
    max-height: 600px;
    overflow: auto;
}

.chat-list .scroll-to-bottom {
    /* Đảm bảo rằng phần tử cuối cùng có đủ độ cao để kéo xuống */
    height: 1px;
}

.chat-input {
    height: 72px;
}

.add-friend-button:hover {
    background-color: #a4edfc;
}

.friend-request-number {
    background-color: #911e1e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    top: 50.2rem;
    left: 96.05%;
    padding: 3px 8.5px;
}

.unread-message-number {
    font-size: 0.7rem;
    background-color: #911e1e;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Thêm thuộc tính này để căn giữa theo chiều dọc */
    right: 235px;
    /* Đặt vị trí từ bên phải */
    color: white;
    position: absolute;
    padding: 3px 8px 3px 8px;
    /* Điều chỉnh lề bên trong */
}

.server-list-map {
    background-color: #242222;
    border-radius: 5px;
}

.voice-chanel {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    padding-top: 3px;
    padding-bottom: 3px;
    background-color: #242222;
}

.voice-member {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 7px;
    background-color: #242222;
}

.voice-chanel:hover {
    cursor: pointer;
    background-color: #454d5f;
    border-radius: 5px;
}

.friend-list-map:hover {
    cursor: pointer;
    background-color: #454d5f;
    border-radius: 5px;
}

.server-list-map:hover {
    cursor: pointer;
    background-color: #454d5f;
    border-radius: 5px;
}

/* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #424647b9;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}